# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# pnpm
.pnpm-store

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build artifacts
/build
dist

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local environment files
.env*.local
.env
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE / Editor directories
.idea/
.vscode/
*.swp
*.swo
